extends layout

block content
  h1 Lista ciekawostek 🤔
  p Tutaj znajdują się ciekawostki, które mogą Cię zainteresować.

  // Formularz z wyborem kategorii
  div.buttons-holder
    form(action="/ciekawostki", method="get" class='form-align')
      select(name="kategoria" class='select-button')
        option(value="Wszystkie") Wszystkie
        // Dodaj dynamicznie kategorie z bazy danych (np. z Redis) jako opcje
        each kategoria in kategorie
          option(value=kategoria) #{kategoria}
      button(type="submit" class='add-button') Filtruj

  .ciekawostki-list
    each ciekawostka in ciekawostki
      .ciekawostka(style="background-color: #EBF0F6; padding: 20px; margin-bottom: 15px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);")
        p(style="font-size: 16px; line-height: 1.5; color: #333;") #{ciekawostka}

  .download-json
    a(href="/ciekawostki/json") Pobierz ciekawostki w formacie JSON
