extends layout

block content
  h1 Kontakt 

  .opis
    p Moja strona jest prost aplikacj webow, kt贸ra czy w sobie kilka podstawowych sekcji na temat wynalazk贸w i ich tw贸rc贸w. Opr贸cz tego znajduj si na niej ciekawostki, kt贸re pozwalaj u偶ytkownikom odkrywa interesujce fakty. Strona oferuje r贸wnie偶 mo偶liwo kontaktu za pomoc dedykowanej podstrony z danymi kontaktowymi.

    p Strona opiera si na technologii Node.js z wykorzystaniem frameworka Express.js oraz bazy Mongo dostpnej online. Do tworzenia widok贸w u偶ywam silnika szablon贸w Pug, co pozwala na szybkie i wygodne zarzdzanie wygldem oraz struktur strony. Dziki temu mog atwo rozbudowywa projekt o nowe funkcje i dostosowywa go do potrzeb u偶ytkownik贸w.

    p
      strong Uwaga: 
      | Informacje znajdujce si na stronie zostay wygenerowane za pomoc sztucznej inteligencji i mog by nieprawdziwe.

  .informacje
    h2 Moje dane
    ul
      li Imi i nazwisko: Konrad Kulesza
      li Numer indeksu: 134296
